@import "../../../styles/fonts.css";

.page-body {
  height: 100vh;
  background: #31313f;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Poppins-Bold" !important;
  font-size: 2rem;
  color: #fff;
}

.btn {
  background: transparent;
  border-radius: 10px;
  font-family: "Poppins-SemiBold";
  transition: 0.3s ease;
  align-self: center;
  margin-left: 10px;
}

.btn-home {
  color: #398fb4;
  border: 2px solid #398fb4;
}

.btn-home:hover {
  background: #398fb4;
  color: #fff;
}

.btn-confirm {
  color: #6abea7;
  border: 2px solid #6abea7;
}

.btn-confirm:hover {
  background: #6abea7;
  color: #fff;
}

.btn-cancel {
  color: #ff404e;
  border: 2px solid #ff404e;
}

.btn-cancel:hover {
  background: #ff404e;
  color: #fff;
}

.btn-other {
  color: #cc962b;
  border: 2px solid #cc962b;
}

.btn-other:hover {
  background: #cc962b;
  color: #fff;
}

.card {
  border-radius: 20px;
  background: transparent;
  border-color: #6abea7;
  padding: 10px;
}

.card-body {
  padding: 10px;
}

.left-part {
  flex-basis: 75%;
}

.right-part {
  flex-basis: 25%;
}

input,
label,
p,
small {
  font-family: "Poppins-Regular" !important;
}

:host ::ng-deep .mat-input-element {
  caret-color: #6abea7;
  color: #fff;
}

:host ::ng-deep .mat-form-field-label {
  color: #fff;
}

:host ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #6abea7;
}

:host ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #6abea7;
}

:host ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  font-size: 0.85rem;
}

:host ::ng-deep .mat-form-field-should-float .mat-form-field-label {
  font-size: 0.85rem;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #cccccc;
}

:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgba(0, 0, 0, 0.04);
}

:host ::ng-deep .mat-form-field-underline {
  background: black !important;
}

:host ::ng-deep .mat-form-field.mat-focused .mat-form-field-outline {
  color: #6abea7;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
